@import "../../../../colors.scss";

section#transaction-category-list {
   width: 80%;
   margin: 15px auto;

   .content { margin-bottom: 20px; }

   h2, p { color: var(--bt-toggle-text); }
   h3 { margin: 0; font-weight: 500; color: var(--bt-toggle-text); }

   .transactions {
      box-shadow: 0 12px 40px -14px rgba(0, 0, 0, 0.34);
      padding: 10px 10px 0;

      .box {
         display: flex;
         justify-content: space-between;
      }
   }

   .debit {
      color: $debit !important;
   }

   .credit {
      color: $credit !important;
   }

   .partial-debit {
      color: $partial-debit !important;
   }

   .partial-credit {
      color: $partial-credit !important;
   }
}