<section style="margin: 30px;">    
    <h3>Sample description</h3>
    <div *ngFor="let transaction of result.transactions" class="d-grid list">
        <div id="details-block">
            <p class="details-text">{{transaction.description}}</p>
            <!-- <p class="details-text">From: {{transaction.from_bank || '---'}}</p> -->
            <!-- <p class="details-text">To: {{transaction.to_bank || '---'}}</p> -->
            <!-- <p class="details-text">Category: {{transaction.category}}</p> -->
        </div>
        <div class="w-100">
            <div class="d-flex flex-row" id="amount-block">
                <!-- <span attr.id="{{fetchColor(transaction.type)}}"></span> -->
                <p>{{transaction.amount}}</p>
            </div>
            <p *ngIf="transaction.type === 1" class="details-text debit" style="font-size: 11px; text-align: end;">Debit
            </p>
            <p *ngIf="transaction.type === 2" class="details-text credit" style="font-size: 11px; text-align: end;">
                Credit</p>
            <p *ngIf="transaction.type === 3" class="details-text partial-debit"
                style="font-size: 11px; text-align: end;">Partial Debit</p>
            <p *ngIf="transaction.type === 4" class="details-text partial-credit"
                style="font-size: 11px; text-align: end;">Partial Credit</p>

            <!-- <button class="menu-button" style="margin-left: 60%" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onEdit(transaction.id)">Edit</button>
              <button mat-menu-item (click)="onDelete(transaction.id)">Delete</button>
          </mat-menu> -->
        </div>
    </div>
</section>