<table [margin]="'0 0 25px 0'" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
   <!-- Date Column -->
   <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Bank</th>
      <td mat-cell *matCellDef="let element" (click)="toBankView(element.id)">{{element.name}}</td>
   </ng-container>

   <!-- Count Column -->
   <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element">{{element.amount | amountFormatter}}</td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="columns"></tr>
   <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
