<section id="transaction-list" *ngIf="!error" [margin]="'10px 0 0 0'">
    <div style="display: flex; justify-content: space-evenly; width: 100%; align-items: baseline;">
        <button mat-flat-button color="primary" (click)="previousMonth()">&lt;</button>
        <h4>{{selectedMonth}}</h4>
        <button mat-flat-button color="primary" (click)="nextMonth()">&gt;</button>
    </div>

    <div class="d-flex" [margin]="'15px auto'" style="width: 90vw; justify-content: space-between; align-items: center;">
        <h4 style="margin: 0;">Total transactions: {{count}}</h4>
        <button id="add-button" mat-flat-button color="primary" (click)="toAddView()">+</button>
        <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onMenuSelectItem('transaction')">Transactions</button>
            <button mat-menu-item (click)="onMenuSelectItem('category')">Categories</button>
            <button mat-menu-item (click)="onMenuSelectItem('bank')">Banks</button>
        </mat-menu>
    </div>

    <section class="" [margin]="'10px auto auto auto'" style="width: 90vw;">
        <transactions-list *ngIf="displayType === 'transaction'" [dataSource]="dataSource"></transactions-list>
        <category-trns *ngIf="displayType === 'category'" [dataSource]="categories"></category-trns>    
        <bank-trns *ngIf="displayType === 'bank'" [dataSource]="banks"></bank-trns>
    </section>
</section>

<h5 *ngIf="error">Something went wrong!! {{message}}</h5>