#url-search {
   width: 60%;
   padding: 15px;
   border-radius: 8px;
   border: 1px solid white;
   background: none;
   color: white;
   outline-color: transparent;
}

#send-button {
   background-color: blue;
   color: white;
   font-size: 16px;
   padding: 15px 40px;
   border: none;
   border-radius: 10px;
}