@import "../../../../colors.scss";

#by-date {
    .list {
        justify-content: space-between;
        width: 80%;
        margin: auto;
        border-radius: 5px;
        padding: 15px;
        margin-top: 20px;
        box-shadow: 0 3px 22px -8px $by-date-shadow;
        grid-template-columns: 75% 25%;

        & p {
            margin: 0;            
        }

        & p.details-text {
            line-height: 23px;
            letter-spacing: 0.6px;
            color: var(--bt-toggle-text);
        }

        & #details-block {
            & p:nth-of-type(1) {
                font-size: 16px;
                width: 80%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & p:not(:nth-of-type(1)) {
                color: $by-date-opacity-txt !important;
                font-size: 13px;
            }
        }

        #amount-block {
            align-items: center;
            width: 100%;
            justify-content: end;

            & p {
                font-size: 20px;
                margin-left: 5px;
                color: var(--bt-toggle-text);
            }

            & span {
                width: 6px;
                height: 6px;
                border-radius: 10px;
            }
        }
    }

    .debit {
        color: $debit !important;
    }

    .credit {
        color: $credit !important;
    }

    .partial-debit {
        color: $partial-debit !important;
    }

    .partial-credit {
        color: $partial-credit !important;
    }
}
