$dark-bg: #333333;
$light-bg: white;
$light-txt: #d7d7d7;
$debit: #fe4d03;
$credit: #05d245;
$partial-credit: #05e2f0;
$partial-debit: #f0b505;
$by-date-shadow: rgba(0, 0, 0, 0.54);
$by-date-opacity-txt: rgb(144, 144, 144);
$dark-input-form: #3d3d3d;
$dark-input-label: white;
$dark-select-dropdown: #424242;
$label-dark-purple: rgb(152 96 251);
$form-field-disabled-text: rgb(122, 122, 122);